# Compilation & dependencies
target/
**/*.rs.bk
static/js/
static/css/
node_modules/

# Env
.history
.vscode
.drone.status

# Test files
cobertura.xml
coverage/

# used to test REST API (https://marketplace.visualstudio.com/items?itemName=humao.rest-client)
test.http

# Runtime
*.pid
*.log