@use '../themes' as *;

@use '../abstract/mixins' as *;

#menu-bar .active {
    background-color: $primary;
    border-color: $primary;
}

input.tag-input {
    &[disabled] {
        border: none;
        background: transparent;  
    }
}