@use '../themes' as *;

@use '../abstract/mixins' as *;

@use '../animation' as *;

.admin-header {
  padding-top: 5rem;
  // animation: fade-appearance .5s ease-out;
}

.tag-edit-row,
.role-edit-row,
.user-edit-row {
  visibility: hidden;
  animation: fade-appearance .5s ease-out;
  animation-fill-mode: forwards;
}

@for $i from 1 through 10 {
  .tag-edit-row:nth-of-type(#{$i}) {
    animation-delay: #{$i * 0.1}s;
  }
}


.button-group {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menu-bar-container {
    position: fixed;
    top: 0;
    z-index: 1000;
  
    box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 10px;
    background: white;
  }

/* Filter bar */

.kind-section {
  z-index: 0 !important;
}

.kind-choice {
  max-width: 2em !important;
  height: 2em;

  /* reset default style */
  border: none !important;
  border-radius-topleft: 50% !important;
  border-radius-topright: 50% !important;
  border-radius-bottomleft: 50% !important;
  border-radius-bottomright: 50% !important;

  border-radius: 50% !important;
  font-size: 1.4em;
  padding: .2em !important;

  background: none !important;
  color: gray("500") !important;

  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    color: theme-color("primary") !important;
  }

  &.active {
    outline: none !important;
    color: theme-color("primary") !important;
    border: none !important;
  }
}