@use '../themes' as *;

@use '../abstract/mixins' as *;

.register-form {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.register {
    @include layout-secondary;
}

@include media-breakpoint-down("sm") {
    .form-header {
        font-size: .7em;
    }
}
