@use '../themes'as *;

.stream-header,
.writer-header {
  animation: fade-appearance .5s ease-out;
}

.dropdown-item:hover {
  background-color: theme-color("primary");
}

.modal-80w {
  width: 65%;
  max-width: none;
  margin: 0 auto;
}

#preview-modal .modal-header {
  border-bottom: none;
  padding: 0.5rem 1rem 0 1rem;
}

.modal-body {
  padding: 0rem 1rem 1rem 1rem;
}

#sort-post.dropdown-toggle:after {
  content: none;
}

.post {
  width: 100%;
}

.btn-write-post, .btn-order-post {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
}

.btn-order-post > button {
  height: 100%;
}
.btn-order-post > button::after {
  color: white;
}
