
@keyframes fade-appearance {
  from {
    // transform: translate3d(-3em, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}