{{#*inline "page" }}

<div>
    <p>
        AHAH, j'étais caché :)
    </p>

    <p>
        Je connais même des informations sur toi !! <br>
        id : {{user.id}} <br>
        nom : {{user.username}} <br>
        password : {{user.password}}<br>

    </p>
</div>

{{/inline}}
{{~> (parent)~}}