<!doctype html>
<html>

<head>
    <title>Rocket Example - {{ title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
</body>

</html>