<!doctype html>
<html>

<head>
    <title>Rocket Example - {{ title }}</title>
</head>

<body>
    <div id="root"></div>
    {{> nav}}
    {{~> page}}
    {{> footer}}
</body>

<script src='/js/bundle.js'></script>

</html>