{{#*inline "page" }}

<form method="POST" action="login">
    username : <input name="username" type="text">
    password : <input name="password" type="password">
    <input type="submit" value="Login !">
</form>

{{/inline}}
{{~> (parent)~}}