@use '../themes'as *;

.comment .text-muted {
    font-size: .85rem;
}

.comment {
    margin-left: 5px;
    margin-top: 10px;
}

.comment-text {
    font-size: 1rem;
}


.comment-content:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #e0e1e1;
    position: absolute;
    margin-left: 11px;
}

.comment-content:hover:before {
    background: theme-color("secondary");
}

.comment-first-row:hover+.comment-content:before {
    background: theme-color("secondary");
}


.comment-content {
    position: relative;
}

// .vote-col {
//     padding-right: 0;
//     padding-left: 0;
// }

.vote-col .btn {
    z-index: 10;
    position: relative;
}


#white-mask {
    background-color: white;
}

.comment-vote .vote-section {
    background-color: transparent;
    border-right: none;
}

.comment .col {
    padding-left: 0;
    padding-right: 0;
}

.comment .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.comment .score {
    display: none;
}