@use '../themes'as *;

.comment-editor-guest {
  padding-top: 1rem;
  padding-bottom: 0;
}

.comment-editor .btn {
  padding: 0.25rem 0.5rem;
}

.comment-editor span {
  font-size: 1.01rem;
  color: gray;
  font-weight: bold;
}

.comment-editor textarea {
  padding: 1em;
  border-radius: 1em;
  background: gray("200");
  border: none !important;
  margin: 1.5em 0 1em 0;
  resize: none;

  &:active,
  &:focus {
    background-color: gray("200") !important;
  }
}