@use '../themes'as *;

.comment .text-muted {
    font-size: .85rem;
}

.comment {
    margin-left: -5px;
    margin-top: 5px;
}


@include media-breakpoint-down("md") {
    .comment {
        margin-left: -19px;
    }
}

ul>li {
    margin: 0 0 5px 0;
}

.post-comments>.comment {
    margin-top: 25px;
}


.comment-content:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #e0e1e1;
    position: absolute;
    margin-left: 19px;
    z-index: 5;
}

.comment-content:hover:before {
    background: theme-color("secondary");
}

.comment-row:hover>.comment-content:before {
    background: theme-color("secondary") !important;
}


.comment-content {
    position: relative;
}

// .vote-col {
//     padding-right: 0;
//     padding-left: 0;
// }

.vote-col .btn {
    z-index: 10;
    position: relative;
}


.white-mask {
    background-color: white !important;
    z-index: 10;
    position: relative;
}

.comment-vote .vote-section {
    background-color: transparent;
    border-right: none;
}

.comment .col {
    padding-left: 0;
    padding-right: 0;
}

.comment .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.comment .score {
    display: none;
}