@use '../themes' as *;

/* Circles always respect a 1:1 aspect ratio */

.ratio {
    position: relative;

    &:before {
        content: "";
        float: left;
    }

    .shape-content {
        float: left;
        overflow: hidden;
    }
}

@for $i from 1 through 16 {
    @for $j from 1 through 16 {
        .ratio-#{$i}-#{$j}:before {
            padding-top: unquote("#{$i / $j * 100}%");
        }
    }
}

.shape-circle {
    @extend .ratio;

    @extend .ratio-1-1;

    border-radius: 50%;
    overflow: hidden;
}

.shape-square {
    @extend .ratio;

    @extend .ratio-1-1;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*  Posts */


.up-vote-btn{
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.down-vote-btn{
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.up-vote-btn :hover{
    color: $primary;
}

.down-vote-btn :hover{
    color : #dc3545;
}

.down-voted, .down-voted:focus{
    color : #dc3545 !important;
}



.up-voted, .up-voted:focus{
    color : $primary !important;
}

.post-info{
    color:#fff;
    background-color:#17a2b8;
}

.post-poll{
    color:#fff;
    background-color:#a4549b;
}

.vote-section{
    padding-top: 16px;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-left: -1px;
    background-color:rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}