@use '../themes' as *;

/* Circles always respect a 1:1 aspect ratio */

.ratio {
    position: relative;

    &:before {
        content: "";
        float: left;
    }

    .shape-content {
        float: left;
        overflow: hidden;
    }
}

@for $i from 1 through 16 {
    @for $j from 1 through 16 {
        .ratio-#{$i}-#{$j}:before {
            padding-top: unquote("#{$i / $j * 100}%");
        }
    }
}

.shape-circle {
    @extend .ratio;

    @extend .ratio-1-1;

    border-radius: 50%;
    overflow: hidden;
}

.shape-square {
    @extend .ratio;

    @extend .ratio-1-1;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*  Posts */

.post:hover {
    cursor: pointer;
}

.thumbsUp{
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.thumbsDown{
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.thumbsUp :hover{
    color: $primary;
}

.thumbsDown :hover{
    color : #dc3545;
}

.post-info{
    color:#fff;
    background-color:#17a2b8;
}

.post-poll{
    color:#fff;
    background-color:#a4549b;
}
