.poll .btn {
    padding: 0.25rem 0.5rem;
}

.poll .form-check-label,
.poll .form-check-input {
    cursor: pointer;
}

.poll .card-header {
    background-color: white;
    border-bottom: 1px solid #EDEFF1;
}

.poll {

    margin: 0 auto;
    width: 65%;
    border: 1px solid #EDEFF1;
}

.progress-bar {
    border-radius: 5px;
}

.progress {
    background-color: unset;
    height: 2rem;
}

// .progress {
//     text-align: center;
//     width: 50%;
//     margin: 15px auto;
// }

.progress-value {
    position: absolute;
    left: 5%;
    font-size: 1rem;
    color: black;
    width: 100%;
}

.opt-selected {
    margin-top: -0.3rem;
}