.poll .btn {
    padding: 0.25rem 0.5rem;
}

.poll .form-check-label,
.poll .form-check-input {
    cursor: pointer;
}

.poll .card-header {
    background-color: white;
    border-bottom: 1px solid #EDEFF1;
}

.poll {
    border: 1px solid #EDEFF1;
}