@use '../themes'as *;


.title-part2 {
    font-size: 0.95rem;
}



/*  Posts */

.post-content p {
    overflow-wrap: anywhere;
}

.post-preview {
    overflow-wrap: anywhere;
}

.vote {
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;

    &:disabled {
        cursor: not-allowed;
        background-color: transparent !important;
    }

    &.up:hover,
    &.up:focus,
    &.up.active {
        color: theme-color("primary") !important;
        background-color: #e8e8e8 !important;
        box-shadow: none !important;

    }

    &.down:hover,
    &.down:focus,
    &.down.active {
        color: theme-color("danger") !important;
        background-color: #e8e8e8 !important;
        box-shadow: none !important;
    }
}

.post-info {
    color: $white;
    background-color: theme-color("info");
}

.post-idea {
    color: $white;
    background-color: #db894d;
}

.post-poll {
    color: $white;
    background-color: #c15ad0;
}

.post .text-muted {
    font-size: .85rem;
}

.post .card-header {
    padding-left: 0.5rem !important;
}


.vote-section {
    background-color: rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.vote-section-content {
    max-height: 8rem;
}

.post-footer-btn {
    cursor: pointer;
    color: gray("800");
}

@keyframes post-appearance {
    from {
        transform: translate3d(-3em, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        transform: none;
        visibility: visible;
        opacity: 1;
    }
}

.post-row {
    visibility: hidden;
    animation: post-appearance .5s ease-out;
    animation-fill-mode: forwards;
}

@for $i from 1 through 10 {
    .post-row:nth-of-type(#{$i}) {
        animation-delay: #{$i * 0.1}s;
    }
}

.post {

    position: relative;

    // Preview

    &.post-preview {

        box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
        transition: .1s ease-out;

        &:hover {
            border-color: theme-color("primary") !important;
            cursor: pointer;
            transition: .2s ease-out;
        }

        &.post-hidden {
            filter: brightness(90%);
            opacity: .7;
            transition: filter .2s;
        }

        &.post-watched {
            .post-header {
                border-color: theme-color("secondary");
            }
        }
    }

    // More

    .more {
        visibility: hidden;

        .dropdown-toggle {
            padding: 0 0 0 0;
        }

        .dropdown-toggle:after {
            content: none
        }

    }

    &:hover .more {
        visibility: visible;
    }

    .card-header {
        padding: 0.7rem 1.25rem 0.4rem 1.25rem;
    }

    &.post-detail {
        margin-top: 5rem;
    }

    &:not(.post-preview, .post-detail) {

        &,
        .card-header,
        .card-body,
        .vote-section {
            background-color: transparent;
            border: none;
        }
    }
}

.fa-comment-alt {
    vertical-align: -0.3em;
}

.tag {
    font-size: 0.9em;
}