@use '../themes'as *;

/*  Posts */

.up-vote-btn {
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.down-vote-btn {
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
}

.up-vote-btn :hover,
.up-vote-btn :focus {
    color: theme-color("primary");
}

.down-vote-btn :hover,
.down-vote-btn :focus {
    color: theme-color("danger");
}


.up-vote-btn :disabled {
    cursor: not-allowed;
}


.down-vote-btn :disabled,
.down-vote-btn[disabled] {
    cursor: not-allowed;
}

.up-vote-btn :disabled,
.up-vote-btn[disabled] {
    cursor: not-allowed;
}


.down-voted,
.down-voted:focus {
    color: theme-color("danger") !important;
}

.up-voted,
.up-voted:focus {
    color: theme-color("primary") !important;
}



.post-info {
    color: $white;
    background-color: theme-color("info");
}

.post-idea {
    color: $white;
    background-color: #db894d;
}

.post-poll {
    color: $white;
    background-color: #c15ad0;
}

.post .text-muted {
    font-size: .75em;
}




.vote-section {
    padding: 1rem 0.84rem 0 0.84rem;

    background-color: rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.post-footer-btn {
    cursor: pointer;
    color: gray("800");
}

// .post {
//     cursor: pointer;
// }

.post .more.show {
    visibility: visible;
}

.post .more {
    visibility: hidden;
}

.more .dropdown-toggle {
    padding: 0 0 0 0;
}

.post:hover .more {
    visibility: visible;
}

.post .card-header {
    padding: 0.7rem 1.25rem 0.4rem 1.25rem;
}

.dropdown-toggle:after {
    content: none
}

.tag {
    font-size: 0.85em;
}